language: ruby
rvm:
  - 2.3
  - 2.4
  - 2.5
  - ruby-head
matrix:
  include:
    - rvm: 2.5.1
      os: osx
      osx_image: xcode9.4
    - rvm: 2.4.0
      os: osx
      osx_image: xcode8.3
    - rvm: 2.4.0
      os: osx
      osx_image: xcode7.3
dist: trusty
sudo: true
before_install:
  - gem update --system
  - gem install bundler -v 1.16.2
cache: bundler
